
// Fonts
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Regular.tff');
  font-weight: normal;
  font-style: normal;
}

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
